/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary:#4fbf8b;
    --color-primary-dull:#44ae7c;
} */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
  --color-primary-rgb: 79 191 139;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}
